<!DOCTYPE html>
<html>
    <head>
        <title>image search</title>
    </head>
    <body>
        <h3>image search api</h3>
        <p>to see recents:
            <br />
            <a href="http://image-find.herokuapp.com/recent">http://image-find.herokuapp.com/recent</a>
        </p>
        <p>to image search:
            <br />
            <a href="http://image-find.herokuapp.com/search/kittens">http://image-find.herokuapp.com/search/<i>kittens</i></a> kittens being whatever term you want to search
        </p>
        <p>offset image search result:
            <br />
            add <i>?offset=10</i> for example to the url
            <br />
            example: http://image-find.herokuapp.com/search/kittens?offset=5
        </p>
    </body>
</html>
